* {
	padding: 0;
	margin: 0;
}

body {
	background-color: #F2E3C6;
	font-family: Times New Roman;
}

#main {
	height: 640px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color:#F2E3C6;
}

#div1 {
	width: 80%;
	height: 95%;
	display: flex;
	justify-content: center;
	border-radius: 30px;
	border: solid 1px #3b2510;
	background-color: snow;
}

#div2 {
	width: 40%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #C68A4F;
	border-radius: 20px;
}

#div3 {
	width: 60%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 5%;
}

img {
	max-width: 60%;
}

form {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

button {
	width: 50%;
	display: block;
	border: solid 1px #977A68;
	border-radius: 15px;
	padding: 6px;
	margin-bottom: 5px;
	background-color: #7C5B4E;
	color: white;
}

button:hover {
	width: 50%;
	display: block;
	border: solid 1px #977A68;
	border-radius: 15px;
	padding: 6px;
	margin-bottom: 5px;
	cursor: pointer;
	background-color: #4B3D3D;
	color: white;
}

.inputComum, textarea {
	width: 55%;
	border: solid 1px #977A68;
	border-radius: 7px;
	display: flex;
	height: 50px;
	resize: none;
	padding-left: 25px;
	margin-bottom: 5px;
}

input::placeholder, textarea::placeholder {
	text-align: center;
	padding-top: 6px;
}

fieldset {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50%;
	margin-bottom: 15px;
	border: none;
}

.inputRadio {
	margin-right: 40px;
}

/* __________________Responsividade________________________________ */
@media ( max-width : 768px) {
	object, iframe,header {
	width: 100%;
	height:330px;
	display: block;
}
	
	#main {
		height: 800px;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.inputComum, textarea {
		width: 100%;
		border: solid 1px #522f19;
		border-radius: 7px;
		display: block;
		margin-bottom: 15px;
	}
	button {
		width: 75%;
		display: block;
		border: solid 1px #977A68;
		border-radius: 15px;
		padding: 6px;
		margin-bottom: 5px;
		background-color: #ba7f47;
		color: white;
	}
	button:hover {
		width: 75%;
		display: block;
		border: solid 1px #977A68;
		border-radius: 15px;
		padding: 6px;
		margin-bottom: 5px;
		cursor: pointer;
		background-color: #482A18;
		color: white;
	}
	fieldset {
		width: 100%;
		display: flex;
		flex-direction: column;
		border: 1px solid black;
		display: flex;
	}
}